<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Epic Portrait Generator</title>
	
	<!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Fjalla+One' rel='stylesheet' type='text/css'>
  
  <!-- Optional theme -->
<!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->

	<!-- stylesheet -->
  <link rel="stylesheet" href="../stylesheets/style.css">
	 

</head>
<body>
<!-- navbar can go here -->
