<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Epic Portrait Generator</title>
	
	<!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Fjalla+One' rel='stylesheet' type='text/css'>
  
  <!-- Optional theme -->
<!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->

	<!-- stylesheet -->
  <link rel="stylesheet" href="../stylesheets/style.css">
	 
<meta property="og:url" content="http://epicportrait.herokuapp.com" /> 
<meta property="og:title" content="Epic Portrait" />
<meta property="og:description" content="In case it wasn't already clear how cool I am" /> 
<meta property="og:image" content="" /> 

</head>
<body>
<!-- navbar can go here -->
