<% include partials/header %>



<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
         
        </a>
		  </li>
		  <li>
		    <a class="sdbar" href="/home">Create new</a>
		  </li>
		  <li>
		    <a class="sdbar" href="/tada">View all</a>
		  </li>
		  <li>
		    <a class="sdbar" href="/logout">Log out</a>
		</ul>
  </div>

<!-- /#sidebar-wrapper -->

<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">

      <h1 id="headr">Generate new image</h1>
<form action="/userimage" method="post" enctype="multipart/form-data" class="form-group" >
<div id="accordion">
 

		<h3>1. Choose a background</h3>
		<div id="pt1">
		<input type="radio" id="sun" name="backgroundpick" value="sunset" selected="true">
			<label for="sun">Sunset</label><br>
		<input type="radio" id="sky" name="backgroundpick" value="sky"> 
			<label for="sky"> Sky</label><br>
		<input type="radio" id="sp1" name="backgroundpick" value="space1"> 
			<label for="sp1"> This Space</label><br>
		<input type="radio" id="sp2" name="backgroundpick" value="space2"> 
			<label for="sp2"> That Space</label><br>
		<input type="radio" id="vis" name="backgroundpick" value="vista"> 
			<label for="vis"> Vista</label><br>
		</div>

		<h3>2. Choose a spirit animal</h3>
		<div id="pt2">
		<input type="radio" id="dog" name="animalpick" value="doge"> 
			<label for="dog"> Dog</label><br>
		<input type="radio" id="li" name="animalpick" value="lion"> 
			<label for="li"> Lion</label><br>
		<input type="radio" id="cat" name="animalpick" value="cat"> 
			<label for="cat"> Cat</label><br>
		<input type="radio" id="hor" name="animalpick" value="horse"> 
			<label for="hor"> Horse</label><br>
		<input type="radio" id="ron" name="animalpick" value="ron"> 
			<label for="ron"> Ron Swanson</label><br>
		<input type="radio" id="gir" name="animalpick" value="giraffe"> 
			<label for="gir"> Giraffe</label><br>
		</div>

		<h3>3. Choose a symbol</h3>
		<div id="pt3">
		<input type="radio" id="bac" name="itemone" value="bacon"> 
			<label for="bac"> Bacon</label><br>
		<input type="radio" id="card" name="itemone" value="cards"> 
			<label for="card"> Cards</label><br>
		<input type="radio" id="rai" name="itemone" value="rainbow"> 
			<label for="rai"> Rainbow</label><br>
		<input type="radio" id="cas" name="itemone" value="cassette"> 
			<label for="cas"> Cassette</label><br>
		</div>

		<h3>4. Choose a talisman</h3>
		<div id="pt4">
		<input type="radio" id="buz" name="itemtwo" value="buzz"> 
			<label for="buz"> Buzz Lightyear</label><br>
		<input type="radio" id="foot" name="itemtwo" value="football"> 
			<label for="foot"> Football</label><br>
		<input type="radio" id="mart" name="itemtwo" value="martini"> 
			<label for="mart"> Martini</label><br>
		<input type="radio" id="xbox" name="itemtwo" value="xbox"> 
			<label for="xbox"> Xbox</label><br>
		</div>

		<h3>5. Get snazzy</h3>
		<div id="pt5">
		Upload a picture. For best results, use your most fabulous headshot. <br>
		Bonus if the background is transparent. Make that happen <a href="https://www.bonanza.com/background_burner" target="blank">here</a> (better but requires registration) or <a href="http://www.freebackgroundremoval.com/" target="blank">here</a>.


		<div id="uplod">
		<input type="file" name="displayImage" class="upload">
		</div>

		<input type="submit" value="Generate Image" class="btn btn-primary generate">
		</div>
</div>
</form> 


<!-- 
      <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->
      

      </div>
    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>


<% include partials/footer %>