/* =============== */
/*     General     */
/* =============== */

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
}
h1 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 20px;
}

#vanity {
	float: right;
	margin-bottom: -10px;
	color: white;
}

.page-header:hover, #headr:hover {
}
#title {
	/*margin-top: 30px;*/
}
#subtitle {
	padding-top: 7px;
	font-size: 10px;
}
.fadr {
	margin: auto;
}

#accordion {
	font-size: 11px;
}

#accordion>h3 {
	font-size: 13px;
}
#accordion>h3:hover {
	color: gray;
}
/*adjusting button defaults*/
.btn {
	font-size: 10px;
	padding: 4px;
	margin: 0px 2px 0px 2px;
}
.btn-primary {
	background-color: purple;
	border: black;
}
/*thumbnail*/
.tnail {
	border: 2px solid black;
	margin-bottom: 3px;
}

.tnail:hover {
	opacity: .7;
}
/*delete button*/
.delbutt {
	width: 112px;
	background-color: gray;
	opacity: .6;
	border: none;
}

/*create new image button*/
.generate {
	margin-top: 10px;
	font-size: 15px;
}
/*login pages*/
#logg {
	text-align: center;
	margin-top: 10%;
	padding-bottom: 20px;
	background-color: rgba(0, 0, 0, .2);
}
/*result page buttons*/
.resultbtn {
	margin-bottom: 20px;
	color: black;
}

.hide {
	display: none;
}

.sharebtn {
	width: 50px;
	float: left;
	padding-bottom: 5px;
}

.sharebtn:hover {
	opacity: .5;
}
/*space in results page*/
#space {
	width: 10px;
	height: 30px;
	clear: both;
}
/*choose file div*/
#uplod {
	padding: 5px;
}
#uplod:hover {
	opacity: .5;
}

#signhead {
	margin-top: 30px;
}
/*recents sidebar*/
#reclabel {
	font-size: 10px;
	margin-bottom: -20px;
	margin-left: 45px;
}
#recresult {
	width: 60px;
	height: 50px;
	opacity: .7;
	margin-top:2px;
}
#recresult:hover{
	opacity: 1;
}
#rechead {
	font-size: 15px;
	margin-bottom: 0px;
}

/* =============== */
/*     Wrapper     */
/* =============== */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
	#wrapper.toggled {
	    padding-left: 150px;
	}
	#sidebar-wrapper {
	    z-index: 1000;
	    position: fixed;
	    left: 150px;
	    width: 0;
	    height: 100%;
	    margin-left: -150px;
	    overflow-y: auto;
	    background: #000;
	    -webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
	}
	#wrapper.toggled #sidebar-wrapper {
	    width: 150px;
	}
	#page-content-wrapper {
	    width: 100%;
	    padding: 15px;
	}
	#wrapper.toggled #page-content-wrapper {
	    position: absolute;
	    margin-right: -150px;
	}

/* =============== */
/*     Sidebar     */
/* =============== */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 13px;
}
	.sidebar-nav li {
	    text-indent: 20px;
	    line-height: 40px;
	}
	.sidebar-nav li a {
	    display: block;
	    text-decoration: none;
	    color: #999999;
	}
	.sdbar:hover {
	    text-decoration: none;
	    color: #fff;
	    background: rgba(255,255,255,0.2);
	}
	.sidebar-nav li a:active,
	.sidebar-nav li a:focus {
	    text-decoration: none;
	}
	.sidebar-nav > .sidebar-brand {
	    height: 65px;
	    font-size: 18px;
	    line-height: 60px;
	}
	.sidebar-nav > .sidebar-brand a {
	    color: #999999;
	}
	.sidebar-nav > .sdbar:hover {
	    color: #fff;
	    background: none;
	}
	@media(min-width:500px) {
	    #wrapper {
	        padding-left: 150px;
	    }

	    #wrapper.toggled {
	        padding-left: 0;
	    }

	    #sidebar-wrapper {
	        width: 150px;
	    }

	    #wrapper.toggled #sidebar-wrapper {
	        width: 0;
	    }

	    #page-content-wrapper {
	        padding: 20px;
	    }

	    #wrapper.toggled #page-content-wrapper {
	        position: relative;
	        margin-right: 0;
	    }
	}

/* =============== */
/*   Epic Image    */
/* =============== */
.result {
	clear: both;
	position: relative;
	background-size: cover;
	height: 500px;
	width: 600px;
	margin: 0 auto;

}
	#smell {
		width: 100px;
		height: 83px;
	}

	#background {
		position: absolute;
		height: 500px;
		width: 600px;
		z-index: -100;
	}

	#mainImg {
		position: absolute;
		height: 60%;
		background-size: contain;
		background-repeat: no-repeat;
		bottom: 0%;
		right: 5%;
		z-index: 100;
	}
	#animal {
		position: absolute;
		height: 55%;
		background-size: contain;
		background-repeat: no-repeat;
		top: 2%;
		left: 2%;
	}
	#itemone {
		position: absolute;
		height: 40%;
		background-size: contain;
		background-repeat: no-repeat;
		top: 60%;
		left: 4%;
	}
	#itemtwo {
		position: absolute;
		height: 35%;
		background-size: contain;
		background-repeat: no-repeat;
		top: 5%;
		right: 20%;
	}

	.canvas {
		margin-left: 200px;
		margin-bottom: 20px;
		margin-top: -20px;
	}
