<% include ../partials/header %>

<!-- <div class="page-header">
<h1></h1>
</div> -->

<div class="container full">

	<p>
		<% if(message) { %>
			<%= message %>
		<% } %>
	</p>


  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h1>Epic Portrait Generator</h1>
      <a href="/signup" class="btn btn-primary btn-lg">Sign up</a>
			<a href="/login" class="btn btn-primary btn-lg">Log in</a>
      <p>Impress Your Friends
    </div>
  </div>

  
  <!-- /.row -->
</div>

<% include ../partials/footer %>