<% include ../partials/header %>


<div class="container full slidr" id="logg">
  <div class="row fadr">
     <div class="col-md-12 col-sm-12">

     	<p>
		<% if(message != null) { %>
			<div class = "alert alert-danger">
			<%= message %>
			</div>
		<% } %>
	</p>
      
      <h1 id="signhead">Sign up</h1>
      
      <form action="/signup" method="POST">
				<p>
					<label for="user">Username:</label><input type="text" name="username" id="user" autofocus value=<%= username %> >
				</p><p>
					<label for="pass">Password:</label><input type="password" name="password" id="pass">
				</p>
				<input type="submit" value="Sign up" class="btn btn-primary">
			</form>
			
			<br>
			Already have an account? <a href="/login">Log in</a>
    </div>
  </div>
  <!-- /.row -->
</div>


<% include ../partials/footer %>